
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap');



body {
    font-size: 10pt;
    background: black;
    color: white;
    max-width: 2000px;
    min-height: 300px;
    
}

header{
  
  text-align: center;
  font-family: 'Corinthia', cursive;
  font-size: 15pt;
  border-radius: 1.1em;
  background-image: linear-gradient(45deg, #117356,#0A5A42,#032118);
}

main{
  

  min-height: 500px;
  background: #2DF9CB63;
  border-radius: 1.5em;
  background-image: linear-gradient(45deg, #117356,#0A5A42,#032118);
  margin: 5em;
}

h2{
  
  margin: 0.3em;
  padding: 1.5em;
  font-family: 'Corinthia', cursive;
  text-indent: justify;
  text-align: center;
  font-size: 25pt;
}

li{
  
  border-style: solid;
  padding: 0.5em;
  margin: 0.5em;
  font-size: 10pt;
  
}

a{
  
  text-decoration: none;
  color: #02EEB9C9;
  
  
  
}

a:hover{
  
  font-size: 15pt;
  background: transparent;
  border-radius: 5em;
  text-decoration: underline;

}

